In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [17]:
nfl_frame = pd.read_clipboard()

In [18]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,882,502,374,6,0.573,1960,NFC East
1,2,Green Bay Packers,"1,336",737,562,37,0.565,1921,NFC North
2,3,Chicago Bears,"1,370",749,579,42,0.562,1920,NFC North
3,4,Miami Dolphins,800,445,351,4,0.559,1966,AFC East
4,5,New England Patriots[b],884,489,386,9,0.558,1960,AFC East

In [20]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [21]:
nfl_frame.index

RangeIndex(start=0, stop=5, step=1)

In [22]:
nfl_frame.values

array([[1, 'Dallas Cowboys', '882', 502, 374, 6, 0.573, 1960, 'NFC East'],
       [2, 'Green Bay Packers', '1,336', 737, 562, 37, 0.565, 1921,
        'NFC North'],
       [3, 'Chicago Bears', '1,370', 749, 579, 42, 0.562, 1920,
        'NFC North'],
       [4, 'Miami Dolphins', '800', 445, 351, 4, 0.5589999999999999,
        1966, 'AFC East'],
       [5, 'New England Patriots[b]', '884', 489, 386, 9,
        0.5579999999999999, 1960, 'AFC East']], dtype=object)

In [40]:
DataFrame(nfl_frame, columns=['Team', 'GP', 'Won', 'Lost'])

                      Team     GP  Won  Lost
0           Dallas Cowboys    882  502   374
1        Green Bay Packers  1,336  737   562
2            Chicago Bears  1,370  749   579
3           Miami Dolphins    800  445   351
4  New England Patriots[b]    884  489   386

In [41]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
Name: Team, dtype: object

In [52]:
nfl_frame.iloc[2]

Rank                            3
Team                Chicago Bears
GP                          1,370
Won                           749
Lost                          579
Tied                           42
Pct.                        0.562
First NFL Season             1920
Division                NFC North
Name: 2, dtype: object