In [1]:
import numpy as np
import pandas as pd

In [4]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int64

In [8]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), 
                 columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  8  1  9  8
1  9  4  1  3
2  6  7  2  0

In [9]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64