In [2]:
import numpy as np
import pandas as pd

In [ ]:
'''przykłady inicjalizacji Series, DataFrame i Index'''

In [6]:
data = pd.Series([.25, .5, .75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
population_dict = {'California': 38332521, 
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict) # tworzenie Series ze słownika
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [11]:
pd.Series(5, index=[100, 200, 300]) # tworzenie ze skalara

100    5
200    5
300    5
dtype: int64

In [12]:
pd.Series({2:'a', 1:'b', 3:'c'}) # tworzenie ze słownika

2    a
1    b
3    c
dtype: object

In [13]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]) # tworzenie i filtrowanie

3    c
2    a
dtype: object

In [14]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [16]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [17]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.957301  0.330989
b  0.573380  0.235371
c  0.388120  0.412444

In [18]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [19]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [20]:
ind = pd.Index([2, 3, 5, 7, 11]) # można tworzyć indeksy jak tablice
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')