In [1]:
import numpy as np
import pandas as pd

In [2]:
'''przykłady inicjalizacji Series, DataFrame i Index'''

'przykłady inicjalizacji Series, DataFrame i Index'

In [3]:
data = pd.Series([.25, .5, .75, 1])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [5]:
data['b']

0.5

In [6]:
population_dict = {'California': 38332521, 
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict) # tworzenie Series ze słownika
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [7]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [8]:
pd.Series(5, index=[100, 200, 300]) # tworzenie ze skalara

100    5
200    5
300    5
dtype: int64

In [9]:
pd.Series({2:'a', 1:'b', 3:'c'}) # tworzenie ze słownika

2    a
1    b
3    c
dtype: object

In [10]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2]) # tworzenie i filtrowanie

3    c
2    a
dtype: object

In [11]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [12]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [13]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.165587  0.708395
b  0.212390  0.660175
c  0.659806  0.978301

In [14]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [15]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [16]:
ind = pd.Index([2, 3, 5, 7, 11]) # można tworzyć indeksy jak tablice
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [17]:
states['density'] = states['population'] / states['area'] # można tworzyć nowe kolumny danych licząc je na bieżąco
states

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [21]:
states.values

array([[3.83325210e+07, 4.23967000e+05, 9.04139261e+01],
       [2.64481930e+07, 6.95662000e+05, 3.80187404e+01],
       [1.96511270e+07, 1.41297000e+05, 1.39076746e+02],
       [1.95528600e+07, 1.70312000e+05, 1.14806121e+02],
       [1.28821350e+07, 1.49995000e+05, 8.58837628e+01]])

In [19]:
states.T

,California,Texas,New York,Florida,Illinois
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [26]:
states.loc[states.density > 100, ['population', 'density']] # filtrowanie wyników

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

In [27]:
states[states.density > 100] # filtrowanie

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121